# Aerosolit-työpajan datasetit ja tutkimuskysymykset

***

### Tutkimuskysymykset
 
**1. Milloin (/minkä kuukauden aikana) ilmanlaatu on kaikista heikoin vuonna 2021 Hämeenlinnassa?**

**2. Milloin (/minkä kuukauden aikana) ilmanlaatu on kaikista heikoin vuonna 2021 Muoniossa?**

**3. Miten hengitettävien hiukkasten määrä eroaa toisistaan Tammikuussa ja Huhtikuussa vuonna 2021?** (Voit valita Muonion tai Hämeenlinnan ja mitkä tahansa kuukaudet)  

**4. Kuinka paljon PM2.5 -hiukkasten määrä vaihtelee vuoden 2021 aikana Helsingissä?** (Voit myös valita yksittäisen kuukauden)    

**5. Kuinka paljon pienhiukkasten lukumäärä vaihtelee vuoden 2021 aikana Helsingissä?** (Voit myös valita yksittäisen kuukauden)  

**6. Kuinka paljon sisäilmansaasteet ovat aiheuttaneet kuolemia Intiassa?** (Voit valita minkä tahansa maan tai tarkastella asiaa globaalisti)  

**7. Millä tavalla sisäilmansaasteiden ja ulkoilmansaasteiden aiheuttamat kuolemat ovat muuttuneet Suomessa?** (Voit valita minkä tahansa maan tai tarkastella asiaa globaalisti)  

**8. Tupakointi vai huono sisäilma – kuinka suuri ero näiden riskitekijöiden kuollesuuksissa on globaalisti?** (Voit myös valita minkä tahansa maan tai tupakoinnin sijasta toisen riskitekijän)  

**9. Millä tavalla PM2.5 -hiukkasten päästöt ovat muuttuneet vuoteen 1970 verrattuna Iso-Britanniassa tai Yhdysvalloissa?**

**10. Miten typpimonoksidin tai hiilimonoksidin määrä on muuttunut vuodesta 1994 lähtien Hämeenlinnassa?** (Valitse toinen)
***

### Datasettivalikoima

In [10]:
import pandas as pd

****

### 1. Ilmatieteenlaitos: Hämeenlinna, Niittykatu
Lähde: ilmatieteenlaitos.fi

Ilmatieteenlaitos mittaa useita eri suureita, joilla voidaan tarkastella ilmanlaatua. Tässä datasetissä on tarjolla Hämeenlinnan Niittykadulla mitattuja tietoja vuodelta 2021, joista meitä kiinnostaa hengitettäviin hiukkasiin liittyvä tieto. Tämä tieto on annettu yksikössä ug/m$^3$, mikä tarkoittaa hiukkasten massapitoisuutta yhtä kuutiometriä kohden. Jos massapitoisuus ei ole tuttu termi, niin esimerkiksi puhtaille aineille, kuten pelkälle vedelle tai raudalle, massapitoisuus kuvastaa aineen tiheyttä. Tässä tapauksessa massapitoisuus kuvastaa siis sitä, kuinka tiheästi hengitettäviä hiukkasia esiintyy ilmassa Niittykadulla.

Jos valitsit tämän datasetin tarkasteluun, voit luoda uuden aika-sarakkeen (joka yhdistää kaikki erikseen annetut aikasuureet samaan sarakkeeseen), kun käytät tätä komentoa datasetin käyttöönotossa:

```
data4 = pd.read_csv('...',
                   parse_dates = {"Aika":["Vuosi", "Kk", "Pv", "Klo"]}, keep_date_col = True)
```

Ennen kuin valmistelet y-akselille tulevaa tietoa, niin tarvitset alla näkyvää koodinpätkää. Kyseisen koodin avulla voidaan muuttaa hengitettävien hiukkasten tiedot sellaiseen muotoon, että ne voidaan järkevästi piirtää kuvaajaksi.

```

datasetti1['Hengitettävät hiukkaset (ug/m3)'] = datasetti1['Hengitettävät hiukkaset (ug/m3)'].apply(pd.to_numeric, downcast='float', errors='coerce')
```

In [11]:
# Ja kurkkaus datasetin sisään

datasetti1 = pd.read_csv('https://raw.githubusercontent.com/opendata-education/Tyopajat/main/materiaali/data/ilmatiet_hml.csv')
datasetti1.head()

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Ilmanlaatuindeksi (index),Hiilimonoksidi (ug/m3),Typpidioksidi (ug/m3),Typpimonoksidi (ug/m3),Otsoni (ug/m3),Hengitettävät hiukkaset (ug/m3),Pienhiukkaset (ug/m3),musta hiili PM2.5 (ug/m3),Rikkidioksidi (ug/m3),Haisevat rikkiyhdisteet (ugS/m3)
0,2021,1,1,00:00,UTC,1,-,8.5,2.6,-,10.2,-,-,-,-
1,2021,1,1,01:00,UTC,1,-,6.9,2,-,6.5,-,-,-,-
2,2021,1,1,02:00,UTC,1,-,5.3,1.4,-,4.9,-,-,-,-
3,2021,1,1,03:00,UTC,1,-,4.5,1.2,-,5.3,-,-,-,-
4,2021,1,1,04:00,UTC,1,-,5.4,1,-,5.8,-,-,-,-

***
### 2. Ilmatieteenlaitos: Muonio, Sammaltunturi
Lähde: www.ilmatieteenlaitos.fi

Ilmatieteenlaitos mittaa useita eri suureita, joilla voidaan tarkastella ilmanlaatua. Tässä datasetissä on tarjolla Muonion Sammaltunturilla mitattuja tietoja vuodelta 2021, joista meitä kiinnostaa hengitettäviin hiukkasiin liittyvä tieto. Tämä tieto on annettu yksikössä ug/m$^3$, mikä tarkoittaa hiukkasten massapitoisuutta yhtä kuutiometriä kohden. Jos massapitoisuus ei ole tuttu termi, niin esimerkiksi puhtaille aineille, kuten pelkälle vedelle tai raudalle, massapitoisuus kuvastaa aineen tiheyttä. Tässä tapauksessa massapitoisuus kuvastaa siis sitä, kuinka tiheästi hengitettäviä hiukkasia esiintyy ilmassa Sammaltunturilla.

Jos valitsit tämän datasetin tarkasteluun, voit luoda uuden aika-sarakkeen (joka yhdistää kaikki erikseen annetut aikasuureet samaan sarakkeeseen), kun käytät tätä komentoa datasetin käyttöönotossa:

```
data4 = pd.read_csv('...',
                   parse_dates = {"Aika":["Vuosi", "Kk", "Pv", "Klo"]}, keep_date_col = True)
```


Ennen kuin valmistelet y-akselille tulevaa tietoa, niin tarvitset alla näkyvää koodinpätkää. Kyseisen koodin avulla voidaan muuttaa hengitettävien hiukkasten tiedot sellaiseen muotoon, että ne voidaan järkevästi piirtää kuvaajaksi.

```

datasetti2['Hengitettävät hiukkaset (ug/m3)'] = datasetti2['Hengitettävät hiukkaset (ug/m3)'].apply(pd.to_numeric, downcast='float', errors='coerce')
```

In [12]:
datasetti2 = pd.read_csv('https://raw.githubusercontent.com/opendata-education/Tyopajat/main/materiaali/data/ilmatiet_muonio.csv')
datasetti2.head()

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Hiilimonoksidi (ug/m3),Typpidioksidi (ug/m3),Typpimonoksidi (ug/m3),Otsoni (ug/m3),Hengitettävät hiukkaset (ug/m3),Pienhiukkaset (ug/m3),musta hiili PM2.5 (ug/m3),Rikkidioksidi (ug/m3),Haisevat rikkiyhdisteet (ugS/m3)
0,2021,1,1,00:00,UTC,-,1.3,0.1,43.5,1.4,-,-,0.6,-
1,2021,1,1,01:00,UTC,-,1.2,0.1,44.8,1.1,-,-,0.4,-
2,2021,1,1,02:00,UTC,-,1.2,0.1,46.4,1.1,-,-,0.5,-
3,2021,1,1,03:00,UTC,-,1.2,0.1,47.7,1.2,-,-,0.4,-
4,2021,1,1,04:00,UTC,-,1.1,0.1,48.7,1.3,-,-,0.4,-

***
### 3. SMEAR: PM2.5 massapitoisuus Helsingissä
Lähde: https://smear.avaa.csc.fi/

SMEAR-asemat ovat maailmanluokan mittausasemia, joissa mitataan ekosysteemien ja ilmakehän välisiä yhteyksiä. Näitä mittausasemia löytyy Suomesta useita, esimerkiksi Helsingistä, Hyytiälästä, Kuivajärveltä, Siikanevalta ja Kuopiosta.

Tässä datasetissä tarkastellaan Helsingin Kumpulassa mitattua PM2.5 -hiukkasten massapitoisuutta vuoden 2021 ajalta, yksikkönä on ug/m$^3$ eli kuinka monta mikrogrammaa hiukkasia on yhden kuutiometrin kokoisella alueella. Jos massapitoisuus ei ole tuttu termi, niin esimerkiksi puhtaille aineille, kuten pelkälle vedelle tai raudalle, massapitoisuus kuvastaa aineen tiheyttä. Tässä tapauksessa massapitoisuus kuvastaa siis sitä, kuinka tiheästi PM2.5-hiukkasia esiintyy ilmassa.

```
data3 = pd.read_csv('...',
                   parse_dates = {"Aika":["Year", "Month", "Day", "Hour"]}, keep_date_col = True)
```

In [13]:
datasetti3 = pd.read_csv('https://raw.githubusercontent.com/opendata-education/Tyopajat/main/materiaali/data/smeardata_pm25_20221124.csv')
datasetti3.head()

   Year  Month  Day  Hour  Minute  Second  KUM_META.PM25_TEOM
0  2021      1    1     0       0       0             27.1021
1  2021      1    1     0       1       0             27.1865
2  2021      1    1     0       2       0             27.4222
3  2021      1    1     0       3       0             27.7240
4  2021      1    1     0       4       0             27.9015

***
### 4. SMEAR: hiukkaspitoisuus Helsingissä
Lähde: https://smear.avaa.csc.fi/

SMEAR-asemat ovat maailmanluokan mittausasemia, joissa mitataan ekosysteemien ja ilmakehän välisiä yhteyksiä. Näitä mittausasemia löytyy Suomesta useita, esimerkiksi Helsingistä, Hyytiälästä, Kuivajärveltä, Siikanevalta ja Kuopiosta.

Tässä datasetissä tarkastellaan Helsingin Kumpulassa mitattua hiukkasten lukumääräpitoisuutta (particle number concentration) vuoden 2021 ajalta, yksikkönä on kpl/cm$^3$, eli kuinka monta kappaletta hiukkasia on yhden kuutiosenttimertin kokoisessa tilavuudessa. Yksi kuutiosenttimetri vastaa noin yhtä palasokeripalasta. 

Jos valitsit tämän datasetin tarkasteluun, voit luoda uuden aika-sarakkeen (joka yhdistää kaikki erikseen annetut aikasuureet samaan sarakkeeseen), kun käytät tätä komentoa datasetin käyttöönotossa

```
data4 = pd.read_csv('...',
                   parse_dates = {"Aika":["Year", "Month", "Day", "Hour"]}, keep_date_col = True)
```

In [14]:
datasetti4 = pd.read_csv('https://raw.githubusercontent.com/opendata-education/Tyopajat/main/materiaali/data/smeardata_particleconcentration.csv')
datasetti4.head()

   Year  Month  Day  Hour  Minute  Second  KUM_META.cn
0  2021      1    1     0       0       0     6354.460
1  2021      1    1     0       1       0     7644.055
2  2021      1    1     0       2       0     6141.668
3  2021      1    1     0       3       0     6174.024
4  2021      1    1     0       4       0     7466.105

***
### 5. Ilmansaasteiden päästöt (emissiot)
Lähde: https://ourworldindata.org/grapher/emissions-of-air-pollutants

Ilmansaasteiden saattaminen laskuun on ollut tavoitteena useissa eri maissa, useinkin hyvästä syystä – onhan kyseessä ihmisten terveys. Ilmansaasteita ovat esimerkiksi ammoniakki, rikkioksidi ja pienhiukkaset PM10 ja PM2.5. 

Tässä datasetissä on esitelty Britannian (United Kingdom) ja Yhdysvaltojen (United States) ilmansaasteiden määrät suhteutettuna vuoteen 1970. Mitä tämä siis tarkoittaa? Vuoden 1970 arvoksi on annettu 100%, ja jos esimerkiksi vuoden 2000 arvo olisi 40(%), tarkoittaa tämä, että kyseisen ilmansaasteen määrä on laskenut 60% vuoteen 1970 verrattuna.

Tässä datasetissä voit valita kahden eri valtion väliltä, ja valtion valitseminen onnistuu komennolla:

```

maan_valinta = datasetti5[datasetti5['Entity'] == 'United States']
```

In [15]:
datasetti5 = pd.read_csv('https://raw.githubusercontent.com/opendata-education/Tyopajat/main/materiaali/data/emissions-of-air-pollutants.csv')
datasetti5.head()

,Entity,Code,Year,PM₁₀ (Index),PM₂.₅ (Index),Non-methane volatile organic compounds (Index),Nitrogen oxides (Index),Ammonia (Index),Sulphur dioxide (Index)
0,United Kingdom,GBR,1970,100.00,100.00,100.00,100.00,NaN,100.00
1,United Kingdom,GBR,1971,92.64,89.16,100.42,99.05,NaN,94.61
2,United Kingdom,GBR,1972,82.63,79.12,97.92,98.10,NaN,90.76
3,United Kingdom,GBR,1973,86.54,80.72,103.75,103.17,NaN,93.22
4,United Kingdom,GBR,1974,78.72,75.10,100.00,95.87,NaN,85.52

***
### 6. Terveysvaikutukset ja kuolleisuus
Lähde: https://ourworldindata.org/grapher/number-of-deaths-by-risk-factor

Ilmanlaadulla on suuri vaikutus ihmisten terveyteen, ja ilmanlaatua voidaankin tarkastella erikseen myös ulkoilman sekä sisäilman osalta. On yleistä, että etenkin matalamman tulotason maissa ruuanlaitossa ja lämmityksessä käytetään kiinteitä polttoaineita, kuten satojätteitä, lantaa, puuta ja hiiltä, joiden polttaminen synnyttää aerosolipäästöjä ja siten heikentää sisäilmanlaatua. Näitä kiinteitä polttoaineita käytetään, koska parempia vaihtoehtoja joko ei ole saatavilla tai ne ovat liian kalliita.

_The Global Burden of Disease_ on suuri maailmanlaajuinen tutkimus, jossa tutkittiin kuolleisuutta ja sairauksia arvioimalla erilaisia syitä ja ja riskitekijöitä. Tutkimuksen tulokset julkaistiin lääketieteen _The Lancet_ -lehdessä. Tähän datasettiin on kerätty tiedot eri riskitekijöiden mahdollisesti aiheuttamista kuolemista muutaman viimeisen vuosikymmenen ajalta.

Tämä datasetti sisältää esikatselussa näkyvien sarakkeiden lisäksi myös seuraavat sarakkeet:  
Secondhand smoke, Low birth weight, Child wasting, Unsafe sex, Diet low in nuts and seeds, Household air pollution from solid fuels, Diet low in vegetables, Low physical activity, Smoking, High fasting plasma glucose, Air pollution (indoor and outdoor).

Tässä datasetissä voit valita tarkasteluun joko jonkun tietyn maan (esimerkiksi Finland, Sweden, India, jne) tai globaalin tuloksen (World). Maan valinta onnistuu komennolla:

```

maan_valinta = datasetti6[datasetti6['Entity'] == 'World']
```

In [16]:
datasetti6 = pd.read_csv('https://raw.githubusercontent.com/opendata-education/Tyopajat/main/materiaali/data/number-of-deaths-by-risk-factor.csv')
datasetti6.head()

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alcohol use,Diet low in fruits,Unsafe water source,...,High body-mass index,Unsafe sanitation,No access to handwashing facility,Drug use,Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812

***
### 7. Pidemmän aikavälin ilmansaasteet Hämeenlinnassa
Lähde: www.ilmatieteenlaitos.fi

Tämä datasetti sisältää Hämeenlinnan ilmanlaatuun liittyvää dataa vuodesta 1994 lähtien. Typpimonoksidi on teollisuuden palamisreaktioissa syntyvä kaasumainen ilmansaaste, joka aiheuttaa luonnon happamoitumista. Vastaavasti hiilimonoksidia eli häkää syntyy silloin, kun hiili tai hiiltä sisältävät aineet palavat epätäydellisesti.

Typpioksidin ja hiilimonoksidin arvot on annettu yksikössä ug/m$^3$  eli kuinka monta mikrogrammaa hiukkasia on yhden kuutiometrin kokoisessa tilavuudessa. Jos massapitoisuus ei ole tuttu termi, niin esimerkiksi puhtaille aineille, kuten pelkälle vedelle tai raudalle, massapitoisuus kuvastaa aineen tiheyttä. Tässä tapauksessa massapitoisuus kuvastaa siis sitä, kuinka tiheästi kyseistä kaasua esiintyy ilmassa.

Jos otat tämän datasetin tarkasteluun, käytä seuraavaa komentoa datasetin lukemiseen:
```

datasetti7 = pd.read_csv('...',
                        parse_dates = ["Aika"])
```

In [17]:
datasetti7 = pd.read_csv('https://raw.githubusercontent.com/opendata-education/Tyopajat/main/materiaali/data/HL94-22.csv')
datasetti7.head()

,index,Aika,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Ilmanlaatuindeksi (index),Hiilimonoksidi (ug/m3),Typpidioksidi (ug/m3),Typpimonoksidi (ug/m3),Otsoni (ug/m3),Hengitettävät hiukkaset (ug/m3),Pienhiukkaset (ug/m3),musta hiili PM2.5 (ug/m3),Rikkidioksidi (ug/m3),Haisevat rikkiyhdisteet (ugS/m3)
0,0,1994-01-01 00:00:00,1994,1,1,00:00,UTC,-,372.7,17.7,3.7,NaN,22.2,-,-,-,-
1,1,1994-01-01 01:00:00,1994,1,1,01:00,UTC,-,465.9,21.4,7.5,NaN,16.1,-,-,-,-
2,2,1994-01-01 02:00:00,1994,1,1,02:00,UTC,-,372.7,17.7,4.7,NaN,10.1,-,-,-,-
3,3,1994-01-01 03:00:00,1994,1,1,03:00,UTC,-,186.4,13.0,0.0,NaN,5.1,-,-,-,-
4,4,1994-01-01 04:00:00,1994,1,1,04:00,UTC,-,186.4,8.4,0.0,NaN,6.1,-,-,-,-